<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/vendor/semantic/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="/public/vendor/semantic/semantic.min.js"></script>
    <style>
      textarea, .result { font-family: 'Roboto Mono', monospace; }
    </style>
  </head>
  <body>
    <div class="ui borderless fixed main menu">
      <div class="ui container">
        <a class="header item" th:href="@{/}">
          <span>Minischeme λ</span>
        </a>
        <div class="ui dropdown item">
          Exemples
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">addition.minischeme</div>
            <div class="item">aire-cercle.minischeme</div>
            <div class="item">somme-liste.minischeme</div>
            <div class="item">compose.minischeme</div>
          </div>
        </div>
      </div>
    </div>

    <div class="ui container" style="margin-top:6em;">
      <form th:action="@{/}" method="post" class="ui form" th:object="${command}">
        <div class="ui grid">
          <div class="eight wide column">
            <div class="ui stacked segment">
              <h4 class="ui header">Source λ</h4>
              <div class="field">
                <textarea th:field="*{source}" rows="15"></textarea>
              </div>
            </div>
          </div>
          <div class="eight wide column">
            <div class="ui stacked segment" style="height: 100%">
              <h4 class="ui header">Résultat</h4>
              <p th:if="${!#strings.isEmpty(flash_success)}" th:text="*{result}" class="result"></p>
              <div th:if="${!#strings.isEmpty(flash_error)}" class="ui negative message">
                <p th:text="#{${flash_error}}"></p>
              </div>
            </div>
          </div>
        </div>
        <button class="ui purple labeled icon button" style="margin-top:1em;" type="submit">
          <i class="play icon"></i> Évaluer
        </button>
      </form>
    </div>
<script>
const addition =
`(+ 1 2)`;

const aireCercle =
`(begin

  (define pi 3.141592)

  (define aire-cercle (lambda (r)
    (* pi r r)))
  
  (aire-cercle 10))`;

const sommeListe =
`(begin
  
  (define do-sum (lambda (xs resultat)
    (if (< (count xs) 1)
      resultat
      (do-sum (tail xs) (+ resultat (head xs))))))
  
  (define sum (lambda (xs)
    (do-sum xs 0)))

  (sum (list 1 2 3 4 5)))
`;

const compose =
`(begin

  (define add1 (lambda (n)
    (+ n 1)))

  (define mul3 (lambda (n)
    (* n 3)))

  (define compose (lambda (f g)
    (lambda (n)
      (f (g n)))))

  (define mul3add1 (compose add1 mul3))
  (mul3add1 10))
`;

const exemples = {
  "addition.minischeme": addition,
  "aire-cercle.minischeme": aireCercle,
  "somme-liste.minischeme": sommeListe,
  "compose.minischeme": compose
};

$('.ui.dropdown').dropdown({
  onChange: (value, text) => {
    $('textarea').val(exemples[text]);
  }
});
</script>
  </body>
</html>
